<%= link_to borrowing.book.title, borrowing.book %>
  <p>Author: <%= borrowing.book.author %></p>
  <p>Publisher: <%= borrowing.book.publisher %></p>
  <p>Renew number: <%= borrowing.renew_num %></p>
  <p>Timeout: <%= borrowing.time_remaining %> days</p>

<%= link_to "Return", borrowing, method: :delete %>