<h1>Search books</h1>

<div class="row">

  <div class="col-md-6">
    <%= form_tag(search_path, method: "get", class: "row", remote: true) do %>
      <%= label_tag(:title, "Title:", class: "col-md-4") %>
      <%= text_field_tag(:title, "", class: "col-md-6") %>

      <%= label_tag(:author, "Author:", class: "col-md-4") %>
      <%= text_field_tag(:author, "", class: "col-md-6") %>

      <%= label_tag(:catalog, "Book ID:", class: "col-md-4") %>
      <%= text_field_tag(:dewey_decimal, "", class: "col-md-6", placeholder: "dewey decimal") %>

      <%= submit_tag("Search", class: "col-md-3 btn btn-primary") %>
    <% end %>
  </div>
</div>

<div id="search-results">
  <%= render 'search' %>
</div>

<script>
  $(function(){
     $('.pagination a').attr('data-remote', 'true')
  });
</script>