<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1> Name: 
        <%= @user.name %>
      </h1>
      <p>Email:
        <%= @user.email %>
      </p>
    </section>
  </aside>
</div>