<li>
  <% if !current_user.librarian? %>
    <%= render :partial => 'borrowing_user', :locals => { :borrowing => borrowing } %>
  <% else %>
    <%= render :partial => 'borrowing_librarian', :locals => { :borrowing => borrowing } %>
  <% end %>

</li>