<%= link_to borrowing.book.title, borrowing.book %>
  <p>Author: <%= borrowing.book.author %></p>
  <p>Publisher: <%= borrowing.book.publisher %></p>
  <p>Renew number: <%= borrowing.renew_num %></p>
  <p>Timeout: <%= borrowing.time_remaining %> days</p>


<%= form_for(borrowing, remote: true) do |f| %>
  <div><%= hidden_field_tag :borrowing_id, borrowing.id %></div>
  
  <% if borrowing.status == 0  %>
    <%= f.submit "Renew", class: "btn btn-primary col-md-1 renew-btn", disabled: true %>
    <span id="requesting">Requesting</span>
  <% elsif borrowing.status == 1 %>
    <%= f.submit "Renew", class: "btn btn-primary col-md-1"%>
    <span id="approve">Appoved</span>
  <% else %>
    <%= f.submit "Renew", class: "btn btn-primary col-md-1", disabled: true%>
    <span id="requesting">Renew requesting</span>
  <% end %>

<% end %>