<%= link_to borrowing.book.title, borrowing.book %>
  <p>Author: <%= borrowing.book.author %></p>
  <p>Publisher: <%= borrowing.book.publisher %></p>
  <p>Renew number: <%= borrowing.renew_num %></p>
  <p>Timeout: <%= borrowing.time_remaining %> days</p>
  <p>Borrow by: <%= link_to borrowing.user.name, borrowing.user %></p> 

<% if borrowing.status == 0 %>

  <%= form_for(borrowing, url: approve_path) do |f| %>
    <div><%= hidden_field_tag :borrowing_id, borrowing.id %></div>
    <%= f.submit "Approve", class: "btn btn-primary col-md-1" %>
  <% end %>

  <%= form_for(borrowing, url: deny_borrow_path) do |f| %>
    <div><%= hidden_field_tag :borrowing_id, borrowing.id %></div>
    <%= f.submit "Deny", class: "btn btn-primary col-md-1" %>
  <% end %>

  <span id="requesting"> 
      <%= "Borrow Requesting" %>
  </span>

<% elsif borrowing.status == 2 %>
  <%= form_for(borrowing, url: approve_path) do |f| %>
    <div><%= hidden_field_tag :borrowing_id, borrowing.id %></div>
    <%= f.submit "Approve", class: "btn btn-primary col-md-1" %>
    
  <% end %>

  <%= form_for(borrowing, url: deny_renew_path) do |f| %>
    <div><%= hidden_field_tag :borrowing_id, borrowing.id %></div>
    <%= f.submit "Deny", class: "btn btn-primary col-md-1" %>
  <% end %>

  <span id="requesting"> 
        <%= "Renew Requesting" %>
    </span>
<% end %>