<h1>Return Book</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
    <%= form_tag(return_path, method: "get", class: "row") do %>
      <%= label_tag(:user_id, "User ID:", class: "col-md-4") %>
      <%= text_field_tag(:user_id, "", class: "col-md-6") %>
      <%= submit_tag("Find user", class: "col-md-3 btn btn-primary") %>
    <% end %>
  </div>
</div>


<% if !@borrowings.nil? %>
	<%= will_paginate %>
		<ul class="users">
			<%= render @borrowings %>
		</ul>
	<%= will_paginate %>
<% end %>