<li>
  <%= link_to book.title, book %>
  <p>Author: <%= book.author %></p>
  <p>Availability: <%= book.availability %></p>
  <p>Year: <%= book.year %></p>

  <% if current_user && current_user.librarian? %>
    | <%= link_to "delete", book, method: :delete,
                                  data: { confirm: "You sure?" } %>
    | <%= link_to "edit", edit_book_path(book) %>
  <% end %>
  
</li>