<% if @book.available? %>
	<div id="borrow_form">
		<% if !current_user.borrowing?(@book) %>
			<%= render 'borrowing' %>
		<% else %>
			<%= render 'unborrow' %>
		<% end %>
	</div>
<% else %>
	<button type="button" class="btn btn-default" disabled="true">Unavailable</button>
<% end %>