<h1>Update Book</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@book) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :publisher %>
      <%= f.text_field :publisher, class: 'form-control' %>

      <%= f.label :author %>
      <%= f.text_field :author, class: 'form-control' %>

      <%= f.label :catalog %>
      <%= f.select :catalog_id, @catalogs.map{ |c| [c.name, c.id] } %>

      <%= f.label :year %>
      <%= f.number_field :year, class: 'form-control', min: 0 %>

      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control', min: 0 %>

      <%= f.submit "Update book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>