<h1>All books</h1>


<% if current_user && current_user.librarian? %>
	<div class="center">
		<%= link_to "Create book", new_book_path, class: "btn btn-primary" %>
	</div>
<% end %>

<%= will_paginate %>

<ul class="users">
	<%= render @books %>
</ul>

<%= will_paginate %>
