<% provide(:title, @book.title) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1> Title: 
        <%= @book.title %>
      </h1>
      <p>Author:
        <%= @book.author %>
      </p>
      <p>Publisher:
        <%= @book.publisher %>
      </p>                                              
      <p>Year:
        <%= @book.year %>
      </p>
      <p>Quantity:
        <%= @book.quantity %>
      </p>
      <div id="update_availability"><p>Availability: <%= @book.availability %></p></div>

      <% if logged_in? %>
        <% if !current_user.librarian? %>
          <%= render 'borrow_form'%>
        <% else %>
          <%= link_to "Edit", edit_book_path, class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>