// Place all the styles related to the Renews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#requesting {
	color: brown;
	margin-left: 5px;
}

#approve {
	color: green;
    margin-left: 5px;
}