<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "capstone app", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_url %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Search", search_path  %></li>
        <% if logged_in? %>
          <% if current_user.librarian? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Book <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li><%= link_to "Borrowing Books", borrowing_all_path %></li>
                <li><%= link_to "Requesting Books", borrowings_path %></li>
                <li><%= link_to "Return Book", return_books_path %></li>
              </ul>
            </li>
          <% end %>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <b class="caret"></b>
          </a>

          <ul class="dropdown-menu">
            <li><%= link_to "Dashboard", borrowings_path %></li>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </li>
        
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>          
        <% end %>

       <!--  <li><%= link_to "Log in", login_path %></li>
        <li><%= link_to "Sign up", signup_path %></li> -->
      </ul>
    </nav>
  </div>
</header>